<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/perfil.css"> <!-- arrumei o link, o ctrl click não levava pra lugar nenhum -->
    <link rel="shortcut icon" href="/Imagens/logo.png"> <!-- fodase a imagem tambem, fiquei uns 20 minutos e nao consegui colocar, FODASE  -->
    <link rel="stylesheet" href="/css/home.css">
    <title>Perfil | ConVes</title>
</head>

<body>
    {{#if erro}}
        <script>
            window.alert("{{erro}}");
        </script>
    {{/if}}

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <img src="/Imagens/barco-ConVes-preto.png" class="logo-conves" alt="logo ConVes" width="60px" id="conves">
            <div class="logo-name"><span>Con</span>Ves</div>
        </a>
        <ul class="side-menu">
            <!-- Inicio do Menu-->
            <li><a href="#"><i class='bx bx-home'></i>Home</a></li>
            <li><a href="/home/dashboard"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li><a href="/home/postagens"><i class="bi bi-window-plus" id="icon-menu-postagens"></i>Postagens</a></li> <!-- PEGAR O LINK DO BOOTSTRAP --> 
            <li><a href="#"><i class="fa-solid fa-chalkboard-user" id="professores"></i><p class="professores">Professores</p></a></li> 
            <li><a href="/home/sobre"><i class='bx bx-info-circle'></i>Sobre</a></li>
            <li class="active"><a href="/home/perfil"><i class='bx bx-user'></i>Perfil</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <form action="/auth/logout" method="GET">
                    <button type="submit" class="logout"> <!-- botao de logout-->
                        <i class='bx bx-log-out'></i>Sair</button>
                </form>
            </li>
        </ul>
        <!-- Fim do Menu-->
    </div>
    <!-- Fim da Sidebar -->

    <!-- Main -->
    <div class="content">

        <!-- NAVBAR  -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Pesquisar..."> <!-- Barra de pesquisa-->
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden> <!-- Botão de mudar o tema-->
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="/home/perfil" class="profile"> <!-- rota da page de perfil, danilo vai fazer a rota depois -->
                <img src="{{perfil.img_fotoPerfil}}">
                <!-- puxar a imagem do perfil do usuário --> 
            </a>
        </nav>

        <!-- Fim da Navbar -->

        <main class="perfil">
            <!-- Imagem do usuario e informações ao redor -->
            <div class="bloco">
                <div class="esquerda">
                    <div class="cima-baixo-esquerda">
                        <h3>Nome: {{perfil.nm_professor}}</h3>
                    </div>
                    <div class="centro-esquerda">
                        <h3>RM: {{perfil.rm_professor}}</h3>
                    </div>
                    <div class="cima-baixo-esquerda">
                        <h3>CPF: {{perfil.cpf_prof}}</h3>
                    </div>
                </div>
                <div class="centro">
                    <form class="postForm" id="postFormImg" method="POST">
                    <div class="imagem">
                    <input id="sg" type="file" accept="image/*" name="capaImg" required onchange="previewImage(event)">
                        <label for="sg" class="picture" tabindex="0">
                            <span class="picture__image">
                                <div class="img-perfil-profile1">
                                    <img src="{{perfil.img_fotoPerfil}}" alt=""> 
                                </div>
                            </span>
                        </label>
                        <script>
                            const inputFile = document.querySelector('#sg');
                            const pictureImage = document.querySelector('.picture__image');


                            inputFile.addEventListener('change', function(e) {
                                const inputTarget = e.target;
                                console.log(inputTarget);
                                const file = inputTarget.files[0];

                                if(file) {
                                    const reader = new FileReader();
                                    reader.addEventListener('load', function(e) {
                                        const readerTarget = e.target;
                                        const img = document.createElement('img');
                                        img.src = readerTarget.result;
                                        img.classList.add('picture__img');
                                        pictureImage.innerHTML = '';

                                        pictureImage.appendChild(img);
                                    });
                                    reader.readAsDataURL(file);
                                }
                            });
                        </script>
                        </div> <!-- aqui vai a imagem do usuario, (aula do ivan) -->
                    </form>
                <button type="button" onclick="submitFormImg()">Editar perfil</button>
                </div>
                <div class="direita">
                    <div class="cima-baixo-direita">
                        <h3>Professor</h3>
                    </div>
                    <div class="centro-direita">
                        <h3>Postagens realizadas: {{numPosts}}</h3> <!-- danilo mandou esquecer -->
                    </div>
                    <div class="cima-baixo-direita">
                        <h3></h3>
                    </div>
                </div>
            </div>
            <br><br>
            <ul class="insights-prof">
                {{#each postagens}}
                <a href="/home/postagens/{{id_postagem}}">
                    <li class="posts">
                        <img src="{{img_capaPost}}" class="imagemPost" alt="Imagem da postagem"></img>
                        <span class="info">
                            <h3>
                                {{nm_tituloPostagem}}
                            </h3>
                            <p>{{tb_professorPerfil.nm_professor}}</p>
                        </span>
                        <a href="/home/postagens/editarPost/{{id_postagem}}">
                            <i class="bx bxs-edit"></i>
                        </a>
                        
                        <i class="bx bxs-trash-alt"></i>
                        
                    </li>
                </a>
                {{/each}}
            <ul>
            <br><br>
            <div class="bio">
                {{!-- FORM DE ALUNO, DEPOIS COLOCAR UM isAluno --}}
                 <form class="postForm" id="postForm" action="/auth/editarProfessor" method="POST">
                    <input type="text" placeholder="Nome" value="{{perfil.nm_professor}}" pattern="^[a-zA-Z ]+$" id="profNome" name="profNome" required>
                    <br><br>
                    <input type="text" placeholder="Matrícula" value="{{perfil.rm_professor}}" minlength="5" maxlength="5" name="profMatricula" id="profMatricula" required>
                    <br><br>
                    <input type="text" placeholder="CPF" value="{{perfil.cpf_prof}}" id="profCpf" placeholder="Cpf" name="profCpf"  maxlength="11"  required> 
                    <br><br>
                    <input type="email" placeholder="Email" value="{{perfil.tb_professorRegistro.ds_emailProfessor}}" id="profEmail" name="profEmail" required>
                    <br><br>
                    <input type="password" placeholder="Senha" minlength="8" maxlength="12" id="profSenha" name="profSenha" required>
                    
                    <button type="submit" onclick="submitForm()">Enviar</button>
                </form>
            </div>
            
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            function previewImage(event) {
                const input = event.target;
                const preview = document.getElementById('preview');

                const file = input.files[0];
                const reader = new FileReader();

                reader.onload = function() {
                    preview.src = reader.result;
                }

                reader.readAsDataURL(file);
            }

            async function submitForm() {
                const profNome = document.getElementById('profNome').value;
                const profMatricula = document.getElementById('profMatricula').value;
                const profCpf = document.getElementById('profCpf').value;
                const profEmail = document.getElementById('profEmail').value;
                const profSenha = document.getElementById('profSenha').value;

                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = async function() {
                    const postData = {
                        profNome: profNome,
                        profMatricula: profMatricula,
                        profCpf: profCpf,
                        profEmail: profEmail,
                        profSenha: profSenha,
                    };
                    try {
                        
                        const response = await axios.post('/auth/editarProfessor', postData);
                        console.log(response.data); // Imprime a resposta do servidor no console
                    } catch (error) {
                        console.error(error);
                    }
                };
            }

            async function submitFormImg() {
                const input = document.getElementById('sg');
                const file = input.files[0];

                const reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = async function() {
                    const imageData = reader.result;
                    const postData = {
                        capaImg: imageData
                    };
                    try {
                        const response = await axios.post('/auth/editarProfessorImg', postData);
                        console.log(response.data); // Imprime a resposta do servidor no console
                    } catch (error) {
                        console.error(error);
                    }
                };
            }
        </script>
        </main>
    </div>

    <script src="/js/home.js"></script>

</body>
        
