<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/home.css"> 
    <link rel="stylesheet" href="/css/post.css">
    <link rel="shortcut icon" href="/logo.png">

    <title>Post | ConVes</title>
</head>

<body>
    {{#if erro}}
        <script>
            window.alert("{{erro}}");
        </script>
    {{/if}}

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <img src="/Imagens/barco-ConVes-preto.png" class="logo-conves" alt="logo ConVes" width="60px" id="conves">
            <!-- retirar o fundo da imagem, deixar apenas o barquinho -->
            <div class="logo-name"><span>Con</span>Ves</div>
        </a>
        <ul class="side-menu">
            <!-- Inicio do Menu-->
            <li><a href="/home"><i class='bx bx-home'></i>Home</a></li>
            {{#isProfessor tipoUsuario}} <li><a href="/home/dashboard"><i class='bx bxs-dashboard'></i>Dashboard</a></li> {{/isProfessor}}
            <li class="active"><a href="/home/postagens"><i class="bi bi-window-plus" id="icon-menu-postagens"></i>Postagens</a></li> <!-- PEGAR O LINK DO BOOTSTRAP --> 
            <li><a href="#"><i class="fa-solid fa-chalkboard-user" id="professores"></i><p class="professores">Professores</p></a></li> 
            <li><a href="/home/sobre"><i class='bx bx-info-circle'></i>Sobre</a></li>
            <li><a href="/home/perfil"><i class='bx bx-user'></i>Perfil</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <form action="/auth/logout" method="GET">
                    <button type="submit" class="logout"> <!-- botao de logout-->
                        <i class='bx bx-log-out'></i>Sair</button>
                </form>
            </li>
        </ul>
        <!-- Fim do Menu-->
    </div>
    <!-- Fim da Sidebar -->

    <!-- Main -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Pesquisar..."> <!-- Barra de pesquisa-->
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden> <!-- Botão de mudar o tema-->
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="profile"> <!-- href da page de usuario -->
                <img src="{{perfil.img_fotoPerfil}}">
            </a>
        </nav>

        <!-- Fim da Navbar -->

        <main class="corpo-postagem">
            {{!-- MATHEUS, o box do post deve estar dentro desse if, essas coisas dentro de chaves são os conteúdos literalmente, tu coloca eles onde tu quiser que apareçam, o img ali deve estar com o src da forma que tá ali, tá tudo pronto aqui, titulo, professor, imagem e conteúdo, divirta-se --}}
            {{#if postagem}}
            <ul class="insights-post-aberto">
                <li class="post-home-aberto">
                    <img src="{{postagem.img_capaPost}}" class="imagemPost" alt="Imagem da postagem"></img>
                    <span class="info">
                        <h3>{{postagem.nm_tituloPostagem}}</h3>
                        <p>Profº {{postagem.tb_professorPerfil.nm_professor}}</p>
                        <p>{{postagem.ds_conteudoPost}}</p>
                        <br><br>
                        <h5>Qtd Views: {{qtdViews}}</h5>
                        <form id="formViewPost" action="/auth/viewPostAluno/{{postagem.id_postagem}}" method="POST">
                        <div class="linha">
                            <label for="btn-check">Marcar como visto: </label>
                            <button class="botao" type="submit" id="btn-check"><i class="fa-regular fa-square-check"></i></button>
                        </div>
                        </form>
                    </span>
                </li>
            {{/if}}
            </ul>
        </main>

    </div>

    <script src="/js/home.js"></script>
    <script>
        document.getElementById('formViewPost').addEventListener('submit', async function(event) {
            event.preventDefault();

            const response = await fetch('/auth/viewPostAluno/{{postagem.id_postagem}}', {
                method: 'POST'
            });

            const data = await response.json();

            if (response.ok) {
                alert(data.message); // Exibe um alerta com a mensagem do servidor
            } else {
                alert('Erro ao marcar a view');
            }
        });
    </script>

</body>

</html>